body {
	background-color: pink;
	
}
p {
	color: black;
	font-family: "Courier New";
	font-weight: bold;
s
}
/* SELEKTOR */
.d1 {
font-family: "Times New Roman";
font-size: larger;
font-style: italic;
font-variant: normal;
font-weight: 500;
background-color: beige;
border-color:black;
border-style: double;
border-width:double;
}
div:hover {
	color: purple;
	transition: 5S;
}
h1 {
	color: antiquewhite;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	text-decoration: double;
}
h2 {
	/* kolor to cecha */
	color:blue;
	text-align: center;
	background-attachment: fixed;
	
	background-repeat: initial;
	background: scroll;
}
/* po a: to pseudo klasa  */
a:visited {

}

a:active {

}
cursor{
	cursor:   0 0, default;
}
.ss {
	color:palevioletred ;
}
.d3{
	width= 200px; 
	height= 200px;
	background-color: white;
	text-align: center;
}
.d3:hover{
	height: 500px;
	width: 500px;
	transition: 7s;
}