body {
	background-color: pink;
	
}
p {
	color: black;
	font-family: "Courier New";
	font-weight: bold;
s
}
/* SELEKTOR */
div {
font-family: "Times New Roman";
font-size: larger;
font-style: italic;
font-variant: normal;
font-weight: 500;
background-color: beige;
border-color:black;
border-style: double;
border-width:double;
}
div:hover {
	color: purple;
	transition: 5S;
}
h1 {
	color: antiquewhite;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	text-decoration: double;
}
h2 {
	color:blue;
	text-align: center;
	background-attachment: fixed;
	
	background-repeat: initial;
	background: scroll;
}
a:visited {

}

a:active {

}