.Home-logo {
    display: flex;
    justify-content: center;
    margin: 50px ;
}
.plama2 {
    position: fixed;
    right: 0;
    bottom: 0;
}
.plama  {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.opinion {
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    bottom: 415px;
}
.email {
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    bottom: 240px;

    align-items: center;
}
.input {
    font-size: 16px;
    margin-left: 15px;
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;

}
.buttom {
    position: fixed;
    font-size: 25px;
    width: 361px;
    height: 55px;
    color: #ffffff;
    background-color: #022B3A;
    display: flex;
    justify-content: center;
    margin: 15px ;
    bottom: 43px;
}
.p {
    justify-content: center;
    position: fixed;
    display: flex;

    top: 215px;
    margin-left: 19px;
}
.p1 {
    justify-content: center;
    position: fixed;
    display: flex;
    text-align: center;
    bottom: 350px;
    margin-left: 18px;
}
.p2 {
    position: fixed;
    display: flex;
    text-align: center;
    bottom: 278px;
    margin-left: 18px;
}
.p3 {
    position: fixed;
    display: flex;
    text-align: center;
    bottom: 185px;
    margin-left: 18px;
    font-size: calc(8px + 1vmin);
}

.checkbox {
    position: fixed;
    display: flex;
    margin-left: 17px;
    bottom: 130px;
    font-size: calc(8px + 1vmin);
}
.rate {
    margin-left: 85px;
    position: fixed;
    bottom: 360px;
}