.Home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home-plamka {
    top: 8px;
    left: 16px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}