.Home-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-direction: column;
}
.wszystko {
    gap: 30px;
}
.wysrodkowanie {
    display: inline-flex;
    justify-content: center;

}
.company-logo {
    margin-top: 30px;
}
.miejsce-na-opinie {
    margin-bottom: 2px;
    font-size: 15px;
}
.area-opinia {
    margin: 0px;
}
.rate {
    margin-left: 20px;
}
.Ocena {
    margin-top: 18px;
    font-size: 15px;
}
.email {
    margin: 0px;

}
.tAdres-email {
    margin-top: 20px;
    margin-bottom: 2px;
    color: #000000;
    font-size: 15px;
}
.tAdres-e-wymagany {
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #6E6E6E;
}
.plama2 {
    position: fixed;
    right: 0;
    bottom: 0;
}
.plama {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.buttom {
    font-size: 25px;
    width: 361px;
    height: 55px;
    color: #ffffff;
    background-color: #022B3A;
    margin-top: 15px;
}
.checkbox {
    display: flex;
    font-size: calc(8px + 1vmin);
}

