.plama2 {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.plama {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.Opinion-o {
    align-items: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
}
.frame1 {
    z-index: -1;
}
.frame2 {
    z-index: -1;
}
.frame3 {
    z-index: -1;
}
.data1 {
    font-size: 16px;
    color: #6D6D71;
    z-index: 2;
}
.data2 {
    margin: 0;
    font-size: 16px;
    color: #6D6D71;
}
.data3 {
    bottom: 200px;
    margin: 25px;
    font-size: 16px;
    color: #6D6D71;
}
.tekst {
    bottom: 90px;
    margin: 25px;
    font-size: 16px;
}
.Opinie {
    align-items: center;
    font-size: 40px;
    top: 120px;
    margin-bottom: 10px;
    margin-left: 20px;
}
