
.plama2 {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.plama {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.Opinion-o {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.data1 {
    font-size: 16px;
    z-index: 2;
    color: black;
    margin: 0px;
}
.tekst {
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 3px;
}
.rate-opinion{
    display: flex;
    flex-direction: row;
}
.Opinie {
    align-items: center;
    font-size: 40px;
    margin-left: 30px;
    margintop: 30px;
    margin-bottom: 20px;
}
.rate2{
}
.Ocena2 {
     margin: 0px;
     margin-right: 10px;
     margin-top: 10px;
 }
.wiersz-email{
    display: flex;
    flex-direction: row;
}
.Email-opinia {
    margin-right: 15px;
}
.mailto {

    left: 80px;
    top: 305px;
    text-decoration: underline;
    color: dodgerblue;
}
/*
.data2 {
    font-size: 16px;
    color: #6D6D71;
}
.data3 {
    font-size: 16px;
    color: #6D6D71;
}
*/
/*.nazwa-email {
    position: absolute;
    left: 80px;
    top: 285px;
    text-decoration: underline;
    color: dodgerblue;
}*/
