.plama2 {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.plama {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.frame1 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    top: 150px;
    margin: 17px;
    height: 200px;
    width: 360px;
}
.frame2 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    bottom: 250px;
    margin: 17px;
    height: 200px;
    width: 360px;
}
.frame3 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    bottom: 35px;
    margin: 17px;
    height: 200px;
    width: 360px;
}
.data1 {
    top: 145px;
    margin: 25px;
    font-size: 16px;
    color: #6D6D71;
}
.data2 {
    bottom: 415px;
    margin: 25px;
    font-size: 16px;
    color: #6D6D71;
}
.data3 {
    bottom: 200px;
    margin: 25px;
    font-size: 16px;
    color: #6D6D71;
}
.tekst {
    bottom: 90px;
    margin: 25px;
    font-size: 16px;
}
.Opinie {
    align-items: center;
    font-size: 40px;
    top: 90px;
    margin: 17px;
}