.plama2 {
    position: fixed;
    right: 0;
    bottom: 0;
}
.plama {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.ThankYou-serce {
    align-items: center;
    display: flex;
    margin: 0px;
    flex-direction: column;
}
.serce {
    margin-top: 90px;

}
.Dziekujemy {
    align-items: center;
    color: #EA4444;
    font-size: 40px;
}
.twoja-opinia {
    font-size: 23px;
    display: flex;
    justify-content: center;
}
.mozliwosc {
    text-align: center;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    bottom: 100px;
    color: #6E6E6E;

}